body {
    font-family: 'Arial', sans-serif;
}

.card-header {
    font-size: 1.25rem;
    font-weight: bold;
}

.list-group-item {
    font-size: 1.1rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.card-body {
    padding: 1.5rem;
}

.color-primary{
    background-color: #3C585A;
    /*background: linear-gradient(to right, red, yellow); */
}

.mh-50{
    max-height: 50vh;
}

.ctext:hover ~ .ctime {
    display: inline; 
}

.ctext:not(:hover) ~ .ctime {
    display: none; 
}

.bcard{
    background-color: #131112;
}

.bcard p {
    color: #F7F7FF;
}

.card-ic {
    background-color: #F8B24B;
    color: #F8B24B91;
}

.overlay-box{
    position: relative;
}

.overlay {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #131112 !important;
    display: flex; /* Center content using flexbox */
    justify-content: center;
    align-items: center;
}