<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"> 
    <head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RSMR Bank</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav th:fragment="nav" class="navbar navbar-expand-lg navbar-dark color-primary">
        <div class="container">
            <a class="navbar-brand" href="/">RSMR Bank <span th:if="${user.getRoles().contains('PartMod')}" >Mod</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div th:object="${user.getRoles()}" class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" th:if="*{contains('Moderator')}" href="/admin/modpage">Modaretor Management</a>
                          <a class="dropdown-item" th:unless="*{contains('Moderator')}" href="#">Update Account</a>
                          <a class="dropdown-item" href="#">Change Password</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Transaction
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" th:if="*{contains('PartMod') or contains('Moderator')}" href="/mod/backtransfer">Revert Transaction</a>
                          <a class="dropdown-item" th:unless="*{contains('Moderator')}" href="/transfer">Make Transaction</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="*{contains('PartMod')} ? '/mod/serve' : '/support'">Customer Support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div th:fragment="error" th:if="${error != null}" class="alert alert-danger" role="alert">
        <h3>Error</h3>
        <p th:text="${error}"></p> 
    </div>

    <footer th:fragment="footer" class="bg-dark text-white mt-5">
        <div class="container text-center py-3">
            <p>&copy; 2024 RSMR Bank. All rights reserved.</p>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Custom JS -->
        <script src="/script.js"></script>
    </footer>
</body>
</html>
