<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{base :: head}" ></head>
<body>
    <nav th:replace="~{base :: nav}" ></nav>

    <div th:replace="~{base :: error}" ></div>

        <!-- Main Content -->
        <div class="main-content p-4 w-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Users List</h5>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>User ID</th>
                                            <th>Username</th>
                                            <th>Action Count</th>
                                            <th>Admin Privileges</th>
                                            <th>Toggle Privileges</th>
                                        </tr>
                                    </thead>
                                    <tbody id="userTable"  th:each="user : ${users}">
                                        <tr>
                                            <td th:text="${user.id}"></td>
                                            <td th:text="${user.username}"></td>
                                            <td>0</td>
                                            <td th:if="${user.roles.contains('PartMod')}"><span class="badge bg-warning">Temporary Admin</span></td>
                                            <td th:unless="${user.roles.contains('PartMod')}"><span class="badge bg-success">User</span></td>
                                            
                                            <td th:if="${user.roles.contains('PartMod')}">
                                                <form th:action="@{/api/mod/users/{id}(id=${user.id})}">
                                                    <button type="submit" class="btn btn-sm btn-success">Remove Mod Power</button>
                                                </form>
                                            </td>
                                            <td th:unless="${user.roles.contains('PartMod')}">
                                                <form th:action="@{/api/mod/users/{id}(id=${user.id})}">
                                                    <button type="submit" class="btn btn-sm btn-danger">Add Mod Power</button>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="~{base :: footer}" ></footer>

</body>
</html>
