<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><!DOCTYPE html>
<head th:replace="~{base :: head}" ></head>
<body>
    <nav th:replace="~{base :: nav}" ></nav>

    <!-- User Details and Account Overview -->

    <div class="container">
        <h2 class="text-center">Transaction Form</h2>
        <form action="/api/account/transfer" method="post" enctype="application/json">
            <div class="mb-3">
                <label for="senderId" class="form-label">Sender's ID:</label>
                <input th:value="${userAccount}" type="text" class="form-control" id="srcId" name="srcId" required>
            </div>
            <div class="mb-3">
                <label for="receiverId" class="form-label">Receiver Bank ID:</label>
                <input type="text" class="form-control" id="receiverId" name="dstId" required>
            </div>
            <div class="mb-3">
                <label for="amount" class="form-label">Amount:</label>
                <input type="number" class="form-control" id="amount" name="amount" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit Transaction</button>
        </form>
    </div>
    <footer th:replace="~{base :: footer}" ></footer>

</body>
</html>
